@model mfdev_backend_2023.Models.Usuario

@{
    ViewData["Title"] = "Excluir Usuário";
}

<h1>Excluir Usuário</h1>

<h4>Usuário</h4>
<hr />
<div>
    <h4>Tem certeza que deseja excluir este usuário?</h4>
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Perfil</dt>
        <dd class="col-sm-10">@Model.Perfil</dd>
    </dl>
</div>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Excluir" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
</form>
