@model mfdev_backend_2023.Models.Usuario

@{
    ViewData["Title"] = "Excluir Usuário";
}

<div class="container mt-4">
    <h1 class="text-center">Excluir Usuário</h1>

    <div class="card">
        <div class="card-body">
            <h4>Usuário</h4>
            <hr />
            <h4 class="text-danger">Tem certeza que deseja excluir este usuário?</h4>
            <dl class="row">
                <dt class="col-sm-2">Nome:</dt>
                <dd class="col-sm-10">@Model.Nome</dd>

                <dt class="col-sm-2">Perfil:</dt>
                <dd class="col-sm-10">@Model.Perfil</dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-3">
        <form asp-action="Delete" method="post" class="d-inline">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
        <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</div>
